 :root {
  --head-and-subhead-color: #212121;
  --paragraf-color: #757575;
  --accent-color: #2196F3;
  --icons-color: #AFB1B8;
  --background-color-footer: #2F303A;
  --background-text-footer: #ffffff;
  --background-color-command: #F5F4FA;
}

body {
  color: var(--head-and-subhead-color);
}

/* Фон контейнера команда */
.command {
  background-color: var(--background-color-command);
}

/* +++++++++++++++++++++++ */

.link,
.card-title {
  color: var(--head-and-subhead-color);
}

/* Цветовое оформление ЛОГОТИПА */
.logo {
  color: var(--accent-color);
  }
  
.logo-white {
  color: white;
}

.logo-black {
color: black
}

/* 
 */

.nav-link {
  color: var(--head-and-subhead-color);
}
.nav-link:hover {
  color: var(--accent-color);
}
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}

.button-hero {
  color: var(--background-text-footer);
  background-color: var(--accent-color);
}

h1 { 
  color: var(--background-text-footer);
}

.doing-txt {
  color: var(--background-text-footer);
  background: rgba(47, 48, 58, 0.8);
}

.logowite span,
.link:focus, 
.link:hover {
  color: var(--accent-color);
}

.link:active {
  color: white;
}

.mail-content,
.tel-content,
.card-discr {
  color: var(--paragraf-color);
}

.footer-conteiner {
  color: var(--background-text-footer);
  background-color: var(--background-color-footer);
}

footer .developed {
  color: rgba(255, 255, 255, 0.4);
}

.subscribe a { 
  color: var(--background-text-footer);
}

.par-txt {
  color: var(--paragraf-color)
}

/*  стили цвета в портфолио */
.link-portfolio {
  color: var(--head-and-subhead-color);
  background-color: var(--background-color-command);
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--background-text-footer);
  background-color: var(--accent-color);
  transition: all 0.2s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.link-portfolio:active {
  color: var(--head-and-subhead-color);
  background-color: var(--paragraf-color);
}

.subscribe .button {
  color: var(--background-text-footer);
  background-color: var(--accent-color);
}

.subscribe .button:hover,
.subscribe .button:focus,
.button-hero:hover,
.button-hero:focus {
  opacity: 0.9;
}

.projeck-conteiner .card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.subscribe-box-button {
  color: var(--background-text-footer);
  background-color: var(--accent-color);
}

.subscribe-box-button:hover,
.subscribe-box-button:focus,
.subscribe-box-button:active {
  opacity: 0.9;
}

.footer-cammon-link:hover {
  background-color: var(--accent-color);
}

.footer-cammon-link:active,
.footer-cammon-link:focus {
  background-color: var(--accent-color);
}