/* PORTFOLIO page */

.conteiner-portfolio {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* filtrs-batton-list 
 кнопки фильтров ====== */

.filtrs-batton-list {
  display: flex;
  padding-top: 94px;
  justify-content: center;
}

.portfolio-batton-item {
  margin-right: 8px;
}

.portfolio-batton-link {
  font-weight: 500;
  line-height: 1.6;
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
}

.portfolio-batton-item:last-child {
  margin-right: 0;
}

/* card-list projeck-conteiner 
 карточки сайтов ========== */

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card-item {
  position: relative;
  display: block;
  width: 370px;
  margin-right: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.card-item:nth-child(3n) {
  margin-right: 0px;
}

.card-item:nth-child(3n-2) {
  margin-left: 15px;
}

.card-item:nth-child(n + 4) {
margin-top: 30px;
}

.card-link {
  /* position: relative; */
  display: block;
  border: 1px solid #eeeeee;
  border-top-width: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-hover-content {
  position: absolute;
  display: block;
  width: 370px;
  height: 404px; /* размер блока на всю высоту контейнера ссылки */
  opacity: 0;
}

.card-hover-content:hover {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  overflow: auto;
  /* transition-duration: 1.2s; */
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
}

.card-content::before {
  content: '';
  display: block;
  width: 100%;
  height: 294px;
  background-repeat: no-repeat;
  background-position: center;
}

.card-content.icon-a-min::before {
  background-image: url('../images/portfolio/i-min.jpg');
}

.card-content.icon-i-min::before {
  background-image: url('../images/portfolio/a-min.jpg');
}

.card-content.icon-b-min::before {
  background-image: url('../images/portfolio/b-min.jpg');
}

.card-content.icon-c-min::before {
  background-image: url('../images/portfolio/c-min.jpg');
}

.card-content.icon-d-min::before {
  background-image: url('../images/portfolio/d-min.jpg');
}

.card-content.icon-f-min::before {
  background-image: url('../images/portfolio/f-min.jpg');
}

.card-content.icon-g-min::before {
  background-image: url('../images/portfolio/g-min.jpg');
}

.card-content.icon-h-min::before {
  background-image: url('../images/portfolio/h-min.jpg');
}

.card-content.icon-i-min::before {
  background-image: url('../images/portfolio/i-min.jpg');
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 24px;
  padding-top: 20px;
}

.card-discr {  
  line-height: 1.7;
  text-align: left;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}
